<html>
    <head>
		<title>Tweets</title>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
        <meta name="description" content="Fact Spreader"/>
		<meta name="keywords" content=" "/>
		<meta name="author" content=" "/>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	</head>
	<body>
        {% include "header.html" %}
       
            
			<div id = "content">
                <div id = "fact_detail">
					{% if fact %}
						<div class = "fact_title">{{ fact.title }} - <span class = "not_true">False</span></div>
						<div class = "fact_meta">Feb. 22, 2012 by John Smith through Fact Spreaders</div>
						<div class = "fact_brief">{{ fact.claim }}</div>
						<br>
						<br>
						<br>
						<a href = "/facts/">← Back</a>
					{% endif %}
				</div>
				<div id = "tweet_bar">
					<div id = "title">Tweets</div>
                    {% if tweets %}
						{% for tweet in tweets %}
							<div class="tweet">
								{{ tweet.content }}
								<div class = "tweet_meta">Jon Rubins, Jan. 3, 2012</div>
							</div>
						{% endfor %}
					{% else %}
						<div class="tweet">
							No Tweets.
						</div>
					{% endif %}
				</div>
			</div>
		</div>
    </body>
</html>