<html>
    <head>
		<title>Tweets</title>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
        <meta name="description" content="Fact Spreader"/>
		<meta name="keywords" content=" "/>
		<meta name="author" content=" "/>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".tweet .tweet_buttons .not_match").click(function() {
					$(this).parent().parent().slideUp("slow");
				});
				$(".tweet .tweet_buttons .responded").click(function() {
					$(this).text("Responded");
					$(this).css("background", "#32CCFD");
					$(this).css("color", "#FFF");
					//$(this).parent().parent().css("border-color", "#32CCFD");
					//$(this).parent().parent().css("border-style", "solid");
					//$(this).parent().parent().css("border-width", "1px");
				});
			});
		</script>
	</head>
	<body>
        {% include "header.html" %}
       
            
			<div id = "content">
                <div id = "fact_detail">
					{% if fact %}
						<div class = "fact_title">{{ fact.title }} - <span class = "not_true"></span></div>
						<div class = "fact_meta">Source: <a href='{{ fact.url }}'>{{ fact.source }}</a></div>
						<div class = "fact_brief">{{ fact.claim }}</div>
						<br>
						<br>
						<br>
						<a href = "/facts/">← Back</a>
					{% endif %}
				</div>
				<div id = "tweet_bar">
					<div id = "title">Potential Matches</div>
                    {% if tweets %}
						{% for tweet in tweets %}
							<div class="tweet">
								{{ tweet.tweet_html|safe }}
								<div class="tweet_buttons">
									<a href="javascript:void" class="not_match">Not a match</a>
									<a href="javascript:void" class="responded">I responded</a>
								</div>
							</div>
						{% endfor %}
					{% else %}
						<div class="tweet">
							No Tweets.
						</div>
					{% endif %}
				</div>
			</div>
		</div>
    </body>
</html>